#container {
    width: 425px;
    flex-direction: row;
    display: flex;

    color: black;
}

#display {
    width: 410px;
    height: 100px;
    font-size: 75px;
    color: white;
    margin-left: 15px;

}

#numbers {
    width: 320px;
    display: flex;
    flex-flow: wrap;
}

button {
    width: 100px;
    height: 100px;
    background-color: dimgray;
    border: none;
    color:white;
    padding: 20px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 50%;
    font-size: 26px;
}

  

#operators {
    display: flex;
    flex-flow: wrap;
    width: 102.5px;
    
}

.ops {
    height: 80px;
    width: 100px;
}

.orange{
    background-color: orange;
    font-size: 40px;
    align-content: center;
}

.silver {
    background-color: silver;
    color: black;
  }

.extra {
    background-color: black;
    width:425px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:focus{
    outline:0;
}

button:hover{
    color:aqua;
}

button:active{
    background-color: aliceblue;
}